body {
    background-image: linear-gradient(to right, lightblue, rgb(139, 139, 216));
    min-height: 100vh;
    
}
header {
    background-image: linear-gradient(to right,darkblue, rgb(11, 11, 45), darkblue);
    font-size: 28px;
    text-align: center;
    color:white;
    text-shadow: 0 0 10px yellow;
    padding: 20px;
    border: groove 10px gray;
    transition: 0.3s;
}

header div:hover {
    filter: drop-shadow(0 0 10 cyan);
}

header:hover {
    box-shadow: 0 0 40px cyan inset;
}

header span {
    text-align:left;
    font-size: 20px;
    transition: 0.3s;
}
header div.Subtitles {
    font-size: 16px;
    color: red;
    filter: drop-shadow(0 0 5px red);
    transition: 0.3s;
}

header div.Subtitles:hover {
    filter: drop-shadow(0 0 5px yellow);
}

nav {
    display: flex;
    background-image: linear-gradient(to right, black, gray, black); 
    border-bottom: solid gray;
    border-radius: 10px; 
    overflow: hidden;
}
nav a, nav.Other a {
    flex: 1;
    margin: auto auto;
    text-align: center;
    padding: 10px;
    color: rgb(243, 241, 241);
    border-right: solid rgb(243, 241, 241);
    text-decoration: none;
    font-family: impact;
    font-size: 32px;
    filter: drop-shadow(0 0 30px gray);
    transition: 0.3s;
    
}
nav a:last-child {
    border-right: none;
}

nav a:hover {
    box-shadow: 0 0 10px white inset;
}

nav.Other {
    margin-left: 10px;
    margin-right: 10px;
    background-image: linear-gradient(to right, darkred, red, darkred);
}
nav.Other a {
    font-size: 16px; 
}

nav.Other a:hover {
    border-radius: 10px;
    box-shadow: 0 0 20px lightcoral inset;
}
nav.Other a:last-child {
    font-size: 10px;
    padding: 5px;
}

.activesite {
    background-color: rgb(75, 71, 71); 
    box-shadow: 0 0 15px black inset;
}

nav.Other .activesite {
    background-color: darkred; 
    box-shadow: 0 0 15px rgb(88, 5, 5) inset;
}

footer {
    display: flex;
    flex-direction: column;
    margin-top: 100%;
    background: gray;
    color: white;
    width: auto;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-image: linear-gradient(to right, black, gray);
    padding: 20px;
}

footer .heading {
    font: 40px "Impact", sans-serif;
}